    <form #loginForm="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="get-started" id="login-screen">
       <p>

                    <span class="material-icons" id="login-logo">
                        maps_ugc
                    </span>
                    Chat <span class="login-p-subtitle">Plus</span>

                </p>


        <input type="text" name="email" id="email" placeholder="Email ou telefone" class="login-form">
        <input type="password" name="password" id="password" class="login-form" placeholder="Senha">
        <input type="button" value="Login" class="login-btn" onclick="login()">

    </div>
    </form>



